
.cardsprojetos{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 100px 20px 50px 20px;
    overflow: hidden;

    scroll-margin-top: 100px;
    position: relative;
    z-index: 1;

    h2{
        font-size: 2.0rem;
        color: #E68EF5;
        text-align: center;
        margin-bottom: 30px;
        font-weight: bold;
}

}

.divcards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
}

.divcard{
    width: 320px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    border-radius: 20px;
    padding: 20px;
    background-color: #ffffffe7;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    @media (max-width: 768px){
        width: 300px;
    }
 
    &:hover {
        transform:translateY(-5px);
        box-shadow: 0 15px 30px rgba(141, 4, 165, 0.4);
    }

    img{
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 20px;
        box-shadow: 3px 3px #8d04a5c0;
        cursor: pointer;
    }

    h3{
        color: #8d04a5;
        font-size: 1.2rem;
        margin-bottom: 15px;
    }

    p{
        font-size: 0.9rem;
        color: #000000;
        line-height: 1.4;
        text-align: justify;   
        padding: 0 10px;
        margin-bottom: 15px;
    }
 
    .botoesCard{
        display: flex;
        justify-content: center;
        gap: 20px;
        width: 100%;
        margin-top: auto;
    }

    button{
        border: 2px solid #8d04a5 ;
        border-radius: 5px;
        background-color: #8d04a5;
        cursor: pointer;

        a {     
                display: inline-block;
                padding: 8px 10px;
                color: #fff;
                text-decoration: none;
                font-family: var(--font-tech);
                font-weight: bold;
                font-size: 0.9rem;
                transition: color 0.3s ease;
        }
        
        &:hover {
            background-color: #E68EF5; 
            transform: scale(1.05);    
            
            a {
                color: rgb(0, 0, 0); 
            }

        }

    }
}