
.seccontato{
   background-color: black;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   min-height: auto;
   height: auto;
   padding: 90px 20px 60px 20px;
   text-align: center;

   h2{
    color: #E68EF5;
    font-size: 2rem;
    margin-bottom: 25px;

      @media (max-width:768px){
         font-size: 1.2rem;
      }
   }

   p{
      color: #fff;
      font-size: 0.9rem;
      text-align: justify;
      line-height: 1.9;
      letter-spacing: 1.5px;
      height: auto;
      max-width: 580px;
      margin-bottom: 20px;

      @media (max-width:768px){
         font-size: 0.7rem;
         text-align: justify;
         line-height: 1.7;
         letter-spacing: 0.5px;
      }
   }

   
   h3{
    margin-top: 40px;
    font-weight: 300;
    margin-bottom: 15px;

    @media (max-width:768px){
      margin-top: 65px;
    }

   }
      a{
            color: #fff;            
            text-decoration: none;  
            font-size: 1.2rem;      
            cursor: pointer;       
            
            
            position: relative;
            z-index: 10;

            @media (max-width:768px){
               font-size: 1rem;
            }

            &:hover {
                color: #E68EF5;
      }}

   .divimg{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 40px;
     gap: 30px;

     a {
            display: flex;
            align-items: center;
            text-decoration: none;
            transition: transform 0.2s;

            &:hover {
                transform: scale(1.1);
            }

     img{
      height: 30px;
      width: auto;

      @media (max-width:768px){
            height: 25px;
      }
     }
   }
  }
}
