
.sectionSobre{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: auto;
    min-height: auto;
    position: relative;
    gap: 50px;
    scroll-margin-top: 150px;

    @media (max-width: 768px){
        flex-direction: column;
        padding: 40px 20px;
        gap: 30px;

    }

    .texts{
        max-width: 600px; 
        display: flex;
        flex-direction: column; 

        @media (max-width: 768px){
            max-width: 100%;
            align-items: center;
            text-align: center;
        }
    }

    .sobremim{
        font-size: 2.0rem;
        color: #E68EF5;
        margin-top: 0;

        @media (max-width: 768px){
            text-align: center;
        }
    }

    h3{
        color: #fff;
        font-size: 1.1rem;
        font-weight: 400;
        margin-top: 70px;
        line-height: 1.6;
        max-width: 500px;
        text-align: left;

        .span{
            color: #E68EF5;
        }

        @media (max-width: 768px){
            text-align: center;
            font-size: 0.9rem; 
            line-height: 1.7;
            text-align: justify;
            letter-spacing: 0.5px;
            margin-top: 20px;
        }

    }

    p{
        color: #E68EF5;
        margin-top: 17px;
    }

    .imgcamilla{
        height: 50vh;
        width: auto;
        transform: translateY(-50%);
        max-width: 45%;
        
        @media (max-width: 768px){
            order: -1;

            height: auto;   
            max-height: 30vh;
            max-width: 80%;
            margin-bottom: 20px;
            align-items: center;
        }
    }
}