
.onesection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
    min-height: 100vh;


    h1 {
        font-weight: 400;
        display: flex;
        justify-content: center;
        
        .spanname{
        color: #E68EF5;
        }

        @media(max-width: 768px){
            font-size: 1.3rem;
            max-width: 100%;
        }
    }

    p{
        font-weight: bold;
        color: #E68EF5;

        @media (max-width: 768px){
            font-size: 0.9rem;
            margin-top: 10px;
        }
    }
}

